{
	"plugins": [
		"prettier-plugin-svelte",
		"@trivago/prettier-plugin-sort-imports",
		"prettier-plugin-tailwindcss"
	],
	"overrides": [
		{ "files": "*.svelte", "options": { "parser": "svelte" } },
		{
			"files": "*.ts",
			"options": {
				"parser": "babel-ts"
			}
		},
		{
			"files": "*.d.ts",
			"options": {
				"parser": "babel-ts"
			}
		}
	],
	"svelteAllowShorthand": false,
	"svelteIndentScriptAndStyle": false,
	"semi": false,
	"singleQuote": true,
	"trailingComma": "all",
	"arrowParens": "always",
	"printWidth": 90,
	"tabWidth": 2,
	"useTabs": true,
	"bracketSpacing": true,
	"bracketSameLine": true,
	"quoteProps": "as-needed",
	"importOrder": ["<THIRD_PARTY_MODULES>", "^[./]"],
	"importOrderSeparation": true,
	"importOrderGroupNamespaceSpecifiers": true,
	"importOrderSortSpecifiers": true
}
